.item-center-pengaduan {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    text-align: center;
    margin: 100px;
}
.text-h2-pengaduan {
    display: inline-block;
    margin-bottom: auto;
    border-bottom: 4px solid #57aae1;
    color: #444444;
}

.form-pengaduan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f7f7f7;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group-pengaduan {
    width: 48%;
    margin-bottom: 15px;
}
.label-pengaduan {
    display: block;
    margin-top: 10px;
    text-align: left;
}
.input-pengaduan, .textarea-pengaduan, .select-pengaduan {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.button-pengaduan {
    margin-right: 5px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #57aae1;
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.cancel-pengaduan {
    background-color: #ffbf00;
    margin-right: 5px;
    padding: 8px 15px;
    font-size: 14px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}